<div style="position:absolute;top:120px;width:1440px;height:35px;background-color: #6633CC;z-index:2;">
    <div class="cls_topCategory" style="width:90px;" >
        <a href="/" class="topA"><span><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</span></a>
    </div>

    <div class="cls_topCategory" style="width:150px;">
        <a href="/category?tcid=1&page=1" class="topA"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Version History</span></a>
    </div>

    <div class="cls_topCategory" style="width:92px;">
        <a href="/category?tcid=2&page=1" class="topA"><span style="padding-left: 8px;"><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;To Do</span></a>
    </div>
    <div class="cls_topCategory" style="width:140px;">
        <a href="/category?tcid=3&page=1" class="topA"><span><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Contributors</span></a>
    </div>
    <div class="cls_topCategory" style="width:95px;">
        <a href="/category?tcid=4&page=1" class="topA"><span><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;Demo category</span></a>
        <ul class="cls_menu">
            <li><a href="/category?tcid=4&scid=1&page=1">SiChuan food</a></li>
        </ul>
    </div>
</div>
